$dark-blue: #242439;
$dark-white: #ffffff; 
$gradient-blue: #151526;
$btn-gradient-first: #164182;
$btn-gradient-second: #2d6bc1;
@font-face {
    font-family: 'Colaborate';
    src: url(../fonts/colaborate/Colaborate-Regular.ttf) format('truetype'),
         url(../fonts/colaborate/Colaborate-Regular.woff) format('woff'),
         url(../fonts/colaborate/Colaborate-Regular.woff2) format('woff2');
    font-style: normal; 
    font-weight: normal; 
}
.container {
    display: block; 
    width: 80%;
    margin: 0 auto;

}
.common-btn{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    background:linear-gradient($btn-gradient-first,$btn-gradient-second ) ;
}
.common-btn:hover {
    transition: 0.05s;
    
    background:linear-gradient(#1a4d99,#3276d4 );
}
.common-btn:active {
    transform: translateY(0.6px);
    background:linear-gradient(#1f5ab3,#3782eb );
}




body {
    position: relative;
    font-family: 'Colaborate' !important;
    background: linear-gradient($gradient-blue 5%,30%, $dark-white 70%);
    padding-bottom: 300px;
    
}
h1, h2, h3, h4, h5, p {margin: 0;};
//HEADER
nav {
    margin-top: 37px;
    display: flex;
    
}
.logo {
    width: 40%;
    a{
        display: block;
        text-decoration: none;
        width: 100%;
        color: #fff;
        display: flex;
        align-items: start;
        img{
            width: 37px;
        }
            .logo__description {
            font-size: 25px;
            h1 {
                line-height: 0.75;
                display: inline-block;
                margin-bottom: 12px;
            }
            p{
                font-size: 17px;
            }

        }
}
}
.header-nav {
    display: flex;
    align-items: center;
    width: 60%;
    
    ul {
        font-size: 17px;
        text-decoration: none;
        padding: 0;margin: 0;
        margin-bottom: 69px;
        li{
            transition: all 0.1s ease-in-out;
            margin-right: 5px;
            display: inline-block;
            border-radius: 4px;
            padding:  6px 15px 6px 15px;
        
            a{
                text-decoration: none;
                color: #d7d7e3;
             }
            a:hover {
                outline: none;
            }
        }
        li:hover {
            transform: translateY(3px);
            transition: 0.1s;
            cursor: pointer;
            background-color: #bfbfc4;
            a{
                color: #161628;
            }
        }
        li:active {
            transition: 0.2s;
            transform: scale(1.0);
        }
    }
}
//END OF HEADER//



.main-wrap {
    margin-top: 40px;
    border-radius: 50px;
    &__header {
        padding: 30px 35px;
        background-color: #d7d8da;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            height: 30px;
            width: 200px;
            padding: 0 10px;
            border-radius: 20px;
            background-color: #fff;
            font-family: Segoe UI Symbol,serif;;
            color: rgba(0, 0, 0, 0.534);
            border: 1px solid rgba(255, 255, 255, 0.534);
        }
    }
    &__description {
        h3 {
            font-weight: normal;
            font-size: 27px;
            color:#505050;
            margin: 0;
        }
        p{
            font-size: 15px;
            color: #5f7390;
            margin-left: 5px;
            margin-top: 10px;
        }

    }
    &__main{
        background-color: #e7e8ea;
        border-top: 1px solid rgb(228, 228, 228);
        padding-bottom: 50px;
    }
}



.contacts{
    color: #9d9d9d;
    width: 90%;
    margin: 0 auto;
    display: flex;
    &__description{
        padding: 10px 25px;
        padding-bottom: 31px;
        background-color: #ebedf0;
        border-radius: 10px;
        border: 1px solid #d6d7d9;
    }
    &__info{

        font-size: 17px;
        margin-left: 40px;
        margin-top: 45px;
        padding-top: 15px;
        width: 45%;
        h3{
            font-size: 21px;
            margin-bottom: 11px;
        }
        ul{
            
            padding-left: 6px;
            
            list-style:none;
            li{
                line-height: 23px;
            }
        }
        #contacts__email-li{
            padding-left: 40px;
        }
        img{
            border: 1px solid #d6d7d9;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    &__form{
        text-align: right;
        position: relative;
        margin-top: 60px;
        border-right: 1px solid #d7d6d7;
        margin-top: 45px;
        padding-top: 15px;
        width: 45%;
        padding-right: 60px;
        input, textarea{
            display: block;
            width: calc(100% - 35px);
            font-size: 21px;
            
            border-radius: 7px;
            border: 1px solid #d1d1d1;
            padding: 13px;
            padding-right: 5px;
            padding-left: 30px;
            resize: none;
        }
        input{
            margin-bottom: 25px;
        }
        textarea{
            margin-bottom: 20px;
        }
        button{
            
            
            padding: 10px 35px;
            
        }
    }

}












//footer
footer {
    width: 100%;

    background: radial-gradient(at top, #48485a, #323247);
}
.twitter-block {
   margin-bottom: 25px;
    position: relative;
    padding-top: 15px;
    img{
        margin-bottom: 5px;
        margin-right: 37px;
    }
    display: flex;
    p{
        
        margin-top: 10px;
        color: rgba($color: #ffffff, $alpha: 0.47) !important;
        font-size: 16px;
    }
    &__quote{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.twitter-block::after {
    content: '';
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: #454558;
    height: 1px;
    width: 90%;
    
    

}
.forms {
    padding-bottom: 10px;
    button {
          cursor: pointer;
          width: 83px;
          height: 28px;
          border-radius: 5px;
          border: none;
          background-color: #e7e8ea;
          color: #363648;
          font-size: 14px; 
    }
    button:hover {
        background-color: #ffffff;
        color: #292936;
        transform: translateY(1px);
    }
    button:active {
        background-color: #292936;
        color: #fff;
    }
    textarea {
        resize: none;
        font-family: 'Colaborate' !important;
        color: rgba($color: #fff, $alpha: 0.5);
    }
    input {
        font-family: 'Colaborate' !important;
        color: rgba($color: #fff, $alpha: 0.5);
        padding-left: 20px;
        width: 193px;
        height: 27px;
        
        background-color: #242439;
        border-radius: 5px;
        border: none;
        box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.562);
    }
    display: flex;
    justify-content: space-between;
    &__leftside {
        width: 45%;
        input {
            
            margin-right: 15px;
        }

        h3 {
            margin-bottom: 19px;
            color: rgb(255, 255, 255);
            font-weight: 200;
            font-size: 25px;
        }
        p {
            color: rgba(255, 255, 255, 0.55);
            font-size: 14px;
            margin-bottom: 22px;
            margin-bottom: 27px;
            
        }

        
    }
    &__society {
        margin-top: 20px;
        a {
            margin-right: 16px;
            
        }
    }
    &__input-groupe {
        input {
            display: block;
            margin-bottom: 13px;
            margin-right: 12px;
        }
    }
    &__rightside {
        
        height: 105px;
        width: 45%;
        h3 {
            color: #fff;
            font-size: 25px;
            margin-bottom: 14px;
        }
        form {
            button {
                position: absolute;
                margin-top: 18px;
                right: 0;

            }
            textarea {
                
                width: 186px;
                display: block;
                background-color: #242439;
                border-radius: 5px;
                border: none;
                box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.562);
                height: 110px;
            }
            display: flex;
        }
       
    }
    &__bottom-groupe {
        position: relative;
    }
}
//END OF FOOTER

//media
@media screen and (max-width: 1000px){
    header{
        .logo{
            position: relative;
            margin: 0 auto;
            width: 50%;
            font-size: 13px;
            h1{
                font-size: 17px;
            }
            &__description{
                width: 100%;
                text-align: center;
            }
            img{
                position: absolute;
                left: -25px;
                transform: translateY(50%);
                width: 20%;
            }
            margin-bottom: 40px;
        }
        .header-nav{
            width: 100%;
            ul {
                display: block;
                text-align: right;
                li{
                    font-size: 17px;
                    width: 60%;
                    text-align: center;
                }

            }
        }
    }
    footer{
        padding-bottom: 100px;
        .twitter-block__quote{
            bottom: -25px;
        }
        .forms{
            display: block;
            &__leftside, &__rightside{
                text-align: center;
                width: 100%;
                margin-bottom: 50px;
                textarea{
                    margin: 0 auto;
                }
            }
            &__rightside{
                
                form{
                    
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
    .contacts{
        display: block;
        &__info{
            width: 100%;
            margin: 0;
            border: none;
        }
        &__form{
            border: none;
            width: 70%;
            margin: 0 auto;
            
        }
    }
}

@media screen and (max-width: 500px){
    header{
        .logo{
            margin: 0 auto;
            width: 80%;
            h1, p{
                font-size: 25px !important;
            }
            &__description{
                width: 100%;
                text-align: center;
            }
            img{
                transform: translateY(50%);
            }
            margin-bottom: 40px;
        }
        .header-nav{

            width: 100%;
            ul {
                text-align: center;
                
                li{
                    display: inline-block;
                    width: 40%;
                }
            }
        }
    }
    footer{
        padding-bottom: 200px;
        .twitter-block{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 100px;
            img{
                width: 50px;
                height: 50px;
            }
            &__quote{
                bottom: -25px;
            }
        }
        .forms{
            display: block;
            &__leftside, &__rightside{
                text-align: center;
                width: 100%;
                margin-bottom: 50px;
                textarea{
                    margin: 0 auto;
                }
            }
            &__leftside{
                form{
                    input{
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 10px;
                        
                    }
                }
            }
            &__society{
                text-align: center;
            }
            &__input-groupe{
                width: 100%;
                text-align: center;
                input{
                   display: inline-block;
                   margin: 0;
                   margin-bottom: 10px;
                }

            }
            form{
                display: block;
                text-align: center;
            }
            
        }
        
    }
    .main-wrap{
        &__header{
            display: block;
            text-align: center;
            input{
                margin-top: 20px;
            }
        }
    }
    .contacts{
        display: block;
        &__info{
            font-size: 15px;
            width: 100%;
            margin: 0;
            border: none;
            img{
                width: 220px;
            }
            #contacts__email-li{
                padding: 0;
            }
        }
        &__form{
            border: none;
            width: 100%;
            margin: 0 auto;
            
        }
    }
}